Node-Red-flow_ LIFE_EXPECTANCY_AUTOAI.json
[{"id":"7657c869.e72da8","type":"tab","label":"Life_Epectancy_Prediction_AutoAI","disabled":true,"info":""},{"id":"e5a1efa2.8cee8","type":"ui_text","z":"7657c869.e72da8","group":"db66ed86.6c24a","order":0,"width":"0","height":"0","name":"","label":"Predictions","format":"{{msg.payload}}","layout":"col-center","x":870,"y":360,"wires":[]},{"id":"3f65b20.fc73f4e","type":"function","z":"7657c869.e72da8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":480,"wires":[["e5a1efa2.8cee8","f6a96b54.89b698","4901b651.56c588"]]},{"id":"25515b86.e7e6f4","type":"function","z":"7657c869.e72da8","name":"Pre-Prediction","func":"var cn = global.get('Enter_your_Country')\nvar yr =global.get('Year')\nvar st = global.get('Status')\nvar admor = global.get('Adult_Mortality_Rate')\nvar infde = global.get('Infants_Death_Rate')\nvar alc = global.get('Alcohol_Consumption')\nvar pexp = global.get('Percent_Expenditure')\nvar hep = global.get('Hepatitis_B_Immunisation')\nvar meas = global.get('Measles_Cases')\nvar bmi = global.get('BMI')\nvar under =global.get('Under_Five_Death')\nvar polio = global.get('Polio_Immunisation')\nvar totexp = global.get('Total_Expenditure_On_Health')\nvar dipth = global.get('Diphtheria_Immunisation')\nvar hiv = global.get('HIV_Deaths')\nvar gdp= global.get('GDP')\nvar popu = global.get('Population')\nvar thin1 = global.get('Thinness_among_Adolescent')\nvar thin2 = global.get('Thinness_among_Children')\nvar icr= global.get('Income_Composition')\nvar sch =global.get('Schooling')\nvar token=msg.payload.access_token\nvar instance_id=\"aab2cf45-0c3a-41e6-8ba9-9b22fd48ed4f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload = {\"input_data\": [{\"fields\": [\"Enter_your_Country\",\"Year\", \"Status\", \"Adult_Mortality_Rate\", \"Infants_Death_Rate\", \"Alcohol_Consumption\", \"Percent_Expenditure\", \"Hepatitis_B_Immunisation\", \"Measles_Cases\", \" BMI \", \"Under-Five_Death \", \"Polio_Immunisation\", \"Total_Expenditure_On_Health\", \"Diphtheria_Immunisation \", \" HIV_Deaths\", \"GDP\", \"Population\", \"Thinness_Among_Adolescent\", \"Thinness_Among_Children\",\"Income_Composition\",\"Schooling\"], \"values\": [[cn,yr,st,admor,infde,alc,pexp,hep,meas,bmi,under,polio,totexp,dipth,hiv,gdp,popu,thin1,thin2,icr,sch]]}]}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":400,"y":280,"wires":[["3570e10e.1bdb7e"]]},{"id":"79b82ebe.c4c25","type":"function","z":"7657c869.e72da8","name":"Pre_Token","func":"global.set(\"Enter_your_Country\",msg.payload.cn)\nglobal.set(\"Year\",msg.payload.yr)\nglobal.set(\"Status\",msg.payload.st)\nglobal.set(\"Adult_Mortality_Rate\",msg.payload.admor)\nglobal.set(\"Infants_Death_Rate\",msg.payload.infde)\nglobal.set(\"Alcohol_Consumption\",msg.payload.alc)\nglobal.set(\"Percent_Expenditure\",msg.payload.pexp)\nglobal.set(\"Hepatitis_B_Immunisation\",msg.payload.hep)\nglobal.set(\"Measles_Cases\",msg.payload.meas)\nglobal.set(\"BMI\",msg.payload.bmi)\nglobal.set(\"Under_five_Death\",msg.payload.under)\nglobal.set(\"Polio_Immunisation\",msg.payload.polio)\nglobal.set(\"Total_Expenditure\",msg.payload.totexp)\nglobal.set(\"Diphtheria_Immunisation\",msg.payload.dipth)\nglobal.set(\"HIV_Deaths\",msg.payload.hiv)\nglobal.set(\"GDP\",msg.payload.gdp)\nglobal.set(\"Population\",msg.payload.popu)\nglobal.set(\"Thinness_among_Adolescent\",msg.payload.thin1)\nglobal.set(\"Thinness_among_Children\",msg.payload.thin2)\nglobal.set(\"Income_Composition\",msg.payload.icr)\nglobal.set(\"Schooling\",msg.payload.sch)\nvar apikey =\"1oEhU_9mzyQntcX2bIQUF244oWcR0R4Sf-OK8a-SD6sN\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":440,"wires":[["45717595.7b7e1c"]]},{"id":"f6a96b54.89b698","type":"debug","z":"7657c869.e72da8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":500,"wires":[]},{"id":"45717595.7b7e1c","type":"http request","z":"7657c869.e72da8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":480,"wires":[["25515b86.e7e6f4"]]},{"id":"3570e10e.1bdb7e","type":"http request","z":"7657c869.e72da8","name":"","method":"POST","ret":"obj","paytoqs":true,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/9f87f8c8-2d0d-4b9d-9ec3-1b9290b1a481/predictions","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":280,"wires":[["3f65b20.fc73f4e"]]},{"id":"543e8449.2a132c","type":"inject","z":"7657c869.e72da8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":560,"wires":[["79b82ebe.c4c25"]]},{"id":"4901b651.56c588","type":"ui_template","z":"7657c869.e72da8","group":"db66ed86.6c24a","name":"","order":2,"width":"0","height":"0","format":"<style>\n    body {\n        background-image: url(\"https://3l0wd94f0qdd10om8642z9se-wpengine.netdna-ssl.com/wp-content/uploads/blog-archive/2018/12/shutterstock_763435072-1.jpg\");\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":880,"y":620,"wires":[[]]},{"id":"1c66d13.75cae2f","type":"ui_form","z":"7657c869.e72da8","name":"","label":"","group":"db66ed86.6c24a","order":2,"width":0,"height":0,"options":[{"label":"Enter_your_Country","value":"cn","type":"text","required":true,"rows":null},{"label":"Year","value":"yr","type":"number","required":true,"rows":null},{"label":"Status","value":"st","type":"text","required":true,"rows":null},{"label":"Adult_Mortality_Rate","value":"admor","type":"number","required":true,"rows":null},{"label":"Infants_Death_Rate","value":"infde","type":"number","required":true,"rows":null},{"label":"Alcohol_Consumption","value":"alc","type":"number","required":true,"rows":null},{"label":"Percentage_Expenditure","value":"pexp","type":"number","required":true,"rows":null},{"label":"Hepatitis_B_Immunisation","value":"hep","type":"number","required":true,"rows":null},{"label":"Measles_Cases","value":"meas","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Under_Five_Death","value":"under","type":"text","required":true,"rows":null},{"label":"Polio_Immunization","value":"polio","type":"text","required":true,"rows":null},{"label":"Total_Expenditure_On_Health","value":"totexp","type":"text","required":true,"rows":null},{"label":"Diphtheria_Immunisation","value":"dipth","type":"number","required":true,"rows":null},{"label":"HIV_Deaths","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"popu","type":"number","required":true,"rows":null},{"label":"Thinness_Among_Adolescents","value":"thin1","type":"number","required":true,"rows":null},{"label":"Thinness_Among_Children","value":"thin2","type":"number","required":true,"rows":null},{"label":"Income_Composition","value":"icr","type":"number","required":true,"rows":null},{"label":"Schooling","value":"sch","type":"number","required":true,"rows":null}],"formValue":{"cn":"","yr":"","st":"","admor":"","infde":"","alc":"","pexp":"","hep":"","meas":"","bmi":"","under":"","polio":"","totexp":"","dipth":"","hiv":"","gdp":"","popu":"","thin1":"","thin2":"","icr":"","sch":""},"payload":"","submit":"Submit","cancel":"Reset","topic":"","x":70,"y":320,"wires":[["79b82ebe.c4c25"]]},{"id":"db66ed86.6c24a","type":"ui_group","z":"","name":"DETAILS","tab":"ece606b6.b605b8","order":2,"disp":true,"width":"7","collapse":false},{"id":"ece606b6.b605b8","type":"ui_tab","z":"","name":"Life_Expectancy","icon":"dashboard","disabled":false,"hidden":false}]